@use "./counter";
@use "./list";
@use "./card";
@use "./form";
@use "../../assets/styles/abstracts/mixins" as *;

.subjects {
  & > .layout {
    display: flex;
    justify-content: space-between;
    @include mobile() {
      flex-direction: column;
    }
  }
}
