$body-background: #eff4fb;

$text-primary: #000c83;
$text-secondary: #0eb6ff;

$card-background: #ffffff;
$card-hover-background: #0eb6ff;

$input-background: #f0f5ff;

$bouton-background: #000c83;
$bouton-hover-background: darken($bouton-background, 10%);
